/* Style the section using
    flex,
    flex-direction,
    gap,
    margin,
    padding,
    background-color,
    border-radius,
    max-width
 */
body {
  margin: 0;
}
section {
  background-color: rgb(252, 224, 216);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  gap: 1em;
  padding: 4rem 6rem 8rem 6rem;
}
article {
  max-width: 300px;
  padding: 3rem;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}
@media screen and (min-width: 900px) {
  section {
    display: flex;
    flex-direction: row;
  }
  article {
    max-width: 500px;
  }
}
